@{
    ViewBag.Title = "Hecho por TopiCreations";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Programa para poder realizar auditorias, control y gestión de los usuarios que utilizan el servicio de vuelo del Aeropuerto Tobías Bolaños.</p>
    <p>El programa tiene algunos errores respecto a las fechas, ya que estas usan formato YYYY/MM/DD y presentan hora 00:00:00 no editable</p>
    <p>También tiene problemas de redundancia en la tabla de usuarios, donde se muestra nombre en lugar de "nombre usuario" o "usuario"</p>
    <p></p>
</main>