@{
    ViewBag.Title = "Contacto";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Lomas del Río, Pavas<br />
        Calle 178, Avenida 51B<br />
        <abbr title="Teléfono">Tel</abbr>
        +506 6130 1234
    </address>

    <address>
        <strong>Support Team:</strong>   <a href="mailto:topinorizzo@gmail.com">topinorizzo@gmail.com</a><br />
        <strong>Support Leader:</strong>   <a href="mailto:erickmartbre@gmail.com">erickmartbre@gmail.com</a><br />
    </address>
</main>