@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Control de Migración - Tobias Bolaños</h1>
        <p class="lead">Sistema de control de migración para el Aeropuerto Internacional Tobias Bolaños</p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Tobías Bolaños</h2>
            <p>
                Fue el primer aviador graduado costarricense, estudió aviación en Francia, 
                luchó en la Primera Guerra Mundial, condecorado en varias ocasiones , 
                primer tico que vuela en cielo costarricense el 19 de diciembre de 1929.
            </p>
            <p><a class="btn btn-outline-dark" href="https://es.wikipedia.org/wiki/Tobias_Bolanos_Palma">¡Saber más! &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Agendar vuelo</h2>
            <p>A los diferentes destinos turísticos y de importancia cultural del país, ¡Desde Liberia hasta Golfito!.</p>
            <p><a class="btn btn-outline-dark" href="https://www.aeropuertos.net/aeropuerto-internacional-tobias-bolanos/">¡Agenda ahora! &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">TopiCreations</h2>
            <p>TopiCreations es una empresa dedicada a la creación de sistemas de control y gestión para varias empresas costarricenses.</p>
            <p><a class="btn btn-outline-dark" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">¡Aprende más! &raquo;</a></p>
        </section>
    </div>
</main>